version: "3.2"
services:
  nginx:
    build:
      context: "./nginx"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./nginx/config/conf.d:/etc/nginx/conf.d:ro"
    networks:
      - app-docker-tig
    depends_on:
      - grafana

  grafana:
    build:
      context: "./grafana"
    restart: always
    volumes:
      - "grafana-data:/var/lib/grafana"
      - ./grafana/provisioning:/etc/grafana/provisioning/
    networks:
      - app-docker-tig
    depends_on:
      - influxdb

  influxdb:
    build:
      context: "./influxdb"
    restart: always
    ports:
      - "8086:8086"
    env_file:
      - "env.influxdb"
    volumes:
      - "influxdb-data:/var/lib/influxdb2"
      - "influxdb-config:/etc/influxdb2"
    networks:
      - app-docker-tig

  telegraf:
    build:
      context: "./telegraf"
    restart: always
    volumes:
      - "./telegraf/config/telegraf.conf:/etc/telegraf/telegraf.conf:ro"
    depends_on:
      - influxdb
    networks:
      - app-docker-tig

networks:
  app-docker-tig:
    driver: bridge

volumes:
  grafana-data:
    driver_opts:
      type: "nfs"
      o: "addr=172.168.0.249,nolock,soft,rw"
      device: ":/mnt/Pool02/docker/grafana-data"
  influxdb-data:
    driver_opts:
      type: "nfs"
      o: "addr=172.168.0.249,nolock,soft,rw"
      device: ":/mnt/Pool02/docker/influxdb-data"
  influxdb-config:
    driver_opts:
      type: "nfs"
      o: "addr=172.168.0.249,nolock,soft,rw"
      device: ":/mnt/Pool02/docker/influxdb-config"